/* stylesheet for furniture section*/

/* Flex container for furnitures*/
.furncontainer {
  width: 375px;
  height: 400px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.furn1 {
  background-image: url(../images/Furniture\ Collection.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 150px;
}

.furn2 {
  background-image: url(../images/Basket\ Collection.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 150px;
}

/*Media query for tablet*/
@media only screen and (min-width: 600px) {
  /* Flex container for furnitures*/
  .furncontainer {
    width: 744px;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
  }
  .furn1 {
    width: 350px;
    height: 179px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Furniture\ Collection.svg);
  }

  .furn2 {
    width: 350px;
    height: 179px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/Basket\ Collection.svg);
  }
}

/*Media query for desktop*/
@media only screen and (min-width: 992px) {
  .furncontainer {
    width: 1310px;

    height: 170px;
    display: flex;
    flex-direction: row;
    background-color: #a32929;
  }
  .furn1 {
    width: 630px;
    height: 150px;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
  }
  .furn2 {
    width: 630px;
    height: 150px;
    background-color: chartreuse;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url();
  }
}
