/* stylesheet for furniture section*/

/* Flex container for furnitures*/
.furncontainer {
  width: 375px;
  height: 400px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.furn1 {
  background-image: url(../images/Furniture\ Collection.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 150px;
}

.furn2 {
  background-image: url(../images/Basket\ Collection.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 150px;
}

/* media querry to adjust furniture collection 
section on mobile phones*/
  .furncontainer {
    margin: 35px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
  }
  .furn1 {
    background-image: url(../images/furn.Jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Furniture\ Collection.svg);
  }

  .furn2 {
    background-image: url(../images/bask.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Furniture\ Collection-d.svg);
    background-position: center;
  }

  /* mobile fit for captions on furniture and basket collection*/
  .caption2 {
    font-size: 20px;
    margin-left: 5px;
    text-align: center;
    margin-top: 25px;
    width: 150px;
    padding-left: 0;
    word-spacing: 1px;
  }

  /* stylesheet for SHOP NOW link*/
  .shopextend {
    margin: 15px;
    width: 150px;
    font-size: 16px;
    display: flex;
    gap: 2px;
  }
  /* mobile fit for SHOP NOW hyperlink*/
  .shopextend a {
    text-decoration: underline;
  }

  .dash {
    width: 20px;
    margin-top: 20px;
  }

@media (min-width: 900px){
  .furncontainer{
    gap: 20px;
  }
   .furn1{
    width: 430px;
    height: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: right;
  }
  .furn2{
    width: 430px;
    height: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: right;
  }
  .caption2{
    width: 250px;
  }
}