/* stylesheet for furniture section*/

/* stylesheet for caption for furniture and
basket collection*/
.caption2 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  margin-top: 35px;
}

/* media querry to adjust furniture collection 
section on mobile phones*/
  .furncontainer {
    margin: 35px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
  }
  /* mobile fit for new furniture collection*/
  .furn1 {
    background-image: url(../images/furn.Jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 350px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 10px;
  }

  /* mobile fit for basket collection*/
  .furn2 {
    background-image: url(../images/bask.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 350px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-top: 10px;
  }

  /* mobile fit for captions on furniture and basket collection*/
  .caption2 {
    font-size: 20px;
    margin-left: 5px;
    text-align: center;
    margin-top: 25px;
    width: 150px;
    padding-left: 0;
    word-spacing: 1px;
  }

  /* stylesheet for SHOP NOW link*/
  .shopextend {
    margin: 15px;
    width: 150px;
    font-size: 16px;
  }
  /* mobile fit for SHOP NOW hyperlink*/
  .shopextend a {
    text-decoration: underline;
  }

@media (min-width: 900px){
  .furncontainer{
    gap: 20px;
  }
   .furn1{
    width: 430px;
    height: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: right;
  }
  .furn2{
    width: 430px;
    height: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: right;
  }
  .caption2{
    width: 250px;
  }
}