/* style for hero section of web page */
.hero {
  background-image: url(../images/hero.jpg);
  padding: 10px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* style for header section of web page */
.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.header img {
  width: 113px;
  height: 27px;
}
.header .operatives {
  color: #ffffff;
}

/* style for message section of web page */
.message {
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message .container {
  width: 450px;
  height: 140px;
  background-color: #ffffffd4;
  line-height: 0.9;
}
.container .caption {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: center;
  padding: 25px;
}

/* .hero {
    background-image: url(../assets/hero.jpg);
    width: 375px;
    height: 812px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .message .container {
    width: 250px;
    height: 140px;
    background-color: #ffffffd4;
    line-height: 0.9;
  }
  .shop {
    margin-bottom: 3px;
    font-size: 11px;
  } */

/* media qeury stryle to fit on mobile devices */
@media (max-width: 900px) {
  .nav {
    display: none;
  }
  }
