/* style for hero section of web page */
.hero {
  background-image: url(../images/Hero\(2\).png);
  padding: 10px;
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* style for header section of web page */
.header {
  width: 355px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.header img {
  width: 70px;
  height: 15px;
  margin-left: 5px;
  margin-top: 9px;
}
.header .operatives {
  margin-right: 5px;
  height: 40px;
  margin-top: -15px;
  padding: 0;
}

.operatives img {
  height: 50px;
}

/* style for message section of web page */
.message {
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message .container {
  width: 250px;
  height: 140px;
  background-color: #ffffffd4;
  line-height: 0.9;
}

.container .caption {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: center;
  padding: 25px;
}
.shop {
  margin-bottom: 3px;
  font-size: 11px;
}
.navi {
  display: none;
}

@media only screen and (min-width: 600px) {
  .hero {
    width: 744px;
    height: 812px;
    background-image: url(../images/Hero.svg);
  }
  .header {
    width: 715px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
}

/*Media query for desktop*/
@media only screen and (min-width: 992px) {
  .hero {
    width: 1280px;
    height: 812px;
    background-image: url(../images/Hero-d.svg);
  }
  .header {
    width: 1207px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  .navi {
    display: flex;
  }
}
