  .product-container {
    background-color: #ffffff;
    /* margin: 35px 13px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    
    /* flex-direction: column; */
  }
  .sub-heading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0em;
    margin: 0 auto;
    color: #000000;
    text-align: center;
    width: 90%;
  }
  .showcase {
    width: 250px;
    height: 250px;
    /* top: 1368px; */
    background-color: rgba(52, 48, 48, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex: 1, 1, 100%;
  }

  .details {
    width: 131px;
    height: 80px;
    top: 1503px;
    left: 121px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 12px;
  }

  .one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr1.png);
    background-repeat:no-repeat;
    background-size: contain;
  }
  .two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr2.png);
    background-repeat:no-repeat;
    background-size: contain;
  }
  .three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr3.png);
    background-repeat:no-repeat;
    background-size: contain;
  }
  .four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr4.png);
    background-repeat:no-repeat;
    background-size: contain;
  }
  .five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr5.png);
    background-repeat:no-repeat;
    background-size: contain;
  }
  .six {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr6.png);
    background-repeat:no-repeat;
    background-size: contain;
  }
  .seven {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr7.png);
    background-repeat:no-repeat;
    background-size: contain;
  }
  .eight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/pr8.png);
    background-repeat:no-repeat;
    background-size: contain;
  }

 @media (min-width:550px) { 
    .product-container{
      justify-content: flex-start;      
    }

    .showcase{ 
      width: 30%;
      /*flex-grow: 1;
      height: 350px; */
    }
  }

  @media (min-width:900px) { 
    .product-container{
      justify-content: flex-start;      
    }

    .showcase{ 
      width: 20%;
      flex-grow: 1;
      /*height: 350px; */
    }
  }